image:
  repository: prom/alertmanager
  tag: v0.27.0
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9093

resources: {}

telegram:
  enabled: true

  botToken: "TELEGRAM_BOT_TOKEN"
  chatId: "123456789"

  apiUrl: "https://api.telegram.org"

route:
  group_by: ['alertname', 'job']
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 3h
