apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "prometheus.fullname" . }}
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]

      - job_name: "node-exporter"
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
            action: keep
            regex: monitoring-v2;node-exporter;metrics

      - job_name: "kube-state-metrics"
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            regex: kube-state-metrics
            action: keep

      - job_name: 'kubelet'
        scheme: https
        tls_config:
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: replace
            source_labels: [__address__]
            regex: (.*):\d+
            replacement: ${1}:10250
            target_label: __address__

      - job_name: 'cadvisor'
        scheme: https
        tls_config:
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        metrics_path: /metrics/cadvisor
        relabel_configs:
          - action: replace
            source_labels: [__address__]
            regex: (.*):\d+
            replacement: ${1}:10250
            target_label: __address__

      - job_name: "argocd-app-controller"
        static_configs:
          - targets: ["argocd-metrics.argocd.svc.cluster.local:8082"]

      - job_name: "argocd-server"
        static_configs:
          - targets: ["argocd-server-metrics.argocd.svc.cluster.local:8083"]

      - job_name: "argocd-repo-server"
        static_configs:
          - targets: ["argocd-repo-server.argocd.svc.cluster.local:8084"]
