apiVersion: v1
kind: Service
metadata:
  name: {{ include "alertmanager.fullname" . }}
  labels:
    {{- include "alertmanager.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: alertmanager
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: 9093
